/* menu-city.css */
@font-face {
    font-family: "Poppins";
    src:
            local("Poppins"),
            url("/fonts/Poppins-Regular.ttf") format("truetype"),
            url("/fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: normal; /* Utilisez 'normal' pour Poppins-Regular.ttf */
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src:
            local("Poppins"),
            url("/fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: bold; /* Utilisez 'bold' pour Poppins-Bold.ttf */
    font-style: normal;
}

* {
    font-family: "Poppins", sans-serif;
    color:black;
}

h2 {
    font-size:34px;
    margin-bottom:12px;

}

h3 {
    font-size:24px;
    margin-bottom:12px;
}

span {
    font-weight: bold;
    display:inline-block;
    font-size:18px;
    margin-bottom:6px;
    margin-top:6px;
}

.container {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin-top: 2rem;
    max-width: 537px;
    height: 100vh;
    overflow-y: scroll;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.datas-container {
    display:flex;
    justify-content: space-between;
    gap:8px
}
.item {
    background-color: #F9FAFB;
    border-radius: 10px;
    display: flex;
    padding: 12px 16px;
    margin-top:12px;


}

.temp {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    align-self: stretch;
    text-align:center;
    width: 157px;
}

.item p {
    margin:0 ;
}

.indicator {
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
}

.img-tree {
    height:140px;
    width:auto;
}

.where-container {
    display:flex;
    align-items: center;
    gap:5px
}

.where-container img {
    height:30px;
    width:auto
}

.why-container {
    display:flex;
    justify-content: center;
    gap:5px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}
.why-icon {
    height:30px;
}

p {
    margin-top:6px;
    margin-bottom:6px;
}

.air {
    text-align: center;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap:8px
}

.air img {
    height:90px;
}