.banner {
    background-color: #040505;
    color: white;
    text-align: center;
    padding: 50px 20px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.title {
    font-size: 8.5rem;
    font-weight: 700;
    line-height: 130px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 20px;
}

.description {
    font-size: 1.25rem;
    margin-bottom: 20px;
    font-weight: 200;
}

.button {
    background-color: #a08af1;
    color: black;
    border: none;
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 2rem;
}

