.banner {
    background-color: #040505;
    color: white;
    text-align: center;
    padding: 50px 20px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 8.5rem;
    font-weight: 700;
    line-height: 130px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 20px;
}

.description {
    font-size: 1.25rem;
    margin-bottom: 20px;
    font-weight: 200;
}

.button {
    background-color: #a08af1;
    color: black;
    border: none;
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 2rem;
}

/* Mobile */
@media (max-width: 700px) {
    .title {
        font-size: 4rem;
        line-height: 80px;
        text-align: center;
    }

    .description {
        font-size: 1rem;
    }

    .button {
        padding: 0.8rem 2rem;
        font-size: 0.9rem;
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    .title {
        font-size: 6rem;
        line-height: 100px;
        text-align: center;
    }

    .description {
        font-size: 1.1rem;
    }

    .button {
        padding: 0.9rem 2.5rem;
        font-size: 1.5rem;
    }

}