.sectionContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #a08af1;
    overflow: hidden;
}

.flexRowReverse {
    flex-direction: row-reverse;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding-right: 10rem;
    margin: 6rem;
}

.title {
    font-size: 34px;
    margin-bottom: 10px;
}

.description {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #666;
    margin-top: 2rem;
}

.image {
    left: 0;
    bottom: 0;
    transform: translate(-10%, 25%);
    width: 50%;
}

.imageElement {
    max-width: 50%;
    height: auto;
    border-radius: 8px;
}

@media (max-width: 1200px) {
    .content {
        padding-right: 5rem;
        margin: 3rem;
    }

    .imageElement {
        max-width: 50%;
    }
}

@media (max-width: 768px) {
    .sectionContainer {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .content {
        padding-right: 0;
        margin: 2rem 0;
        text-align: center;
    }

    .image {
        transform: translate(0, 0);
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .imageElement {
        max-width: 80%;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 28px;
    }

    .description {
        font-size: 16px;
        line-height: 24px;
    }

    .imageElement {
        max-width: 90%;
    }
}