.sectionContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5rem 2rem; /* Ajout d'espacements uniformes */
    background-color: #F6F6F8; /* Couleur d'arrière-plan équilibrée */
    border-radius: 10px; /* Bordures arrondies */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); /* Ombre subtile */
    overflow: hidden;
}

.flexRowReverse {
    flex-direction: row-reverse;
}

.content {
    flex: 1;
    padding: 1.5rem 2rem;
    margin: 2rem;
}

.title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.description {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #333;
}

.image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageElement {
    max-width: 90%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Mobile adaptatif */
@media (max-width: 768px) {
    .sectionContainer {
        flex-direction: column;
        text-align: center;
        padding: 2rem 1rem;
    }

    .content {
        margin: 1rem 0;
    }

    .imageElement {
        max-width: 70%;
    }
}