/* pages/Simularbre.module.css */

.container {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 600px;
    height: 95vh;
    overflow-y: scroll;
    margin: 0 auto;
    background-color: #e0dbf3;
    border-radius: 10px;
    box-shadow: 0 4px 8px white;
}

.header {
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    object-fit: fill;
    width: 24rem;
    padding: 2rem;
}

.logo h1 {
    font-size: 1rem;
}

.header p {
    font-size: 1rem;
    color: black;
}

.main {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main h2 {
    font-size: 1.5rem;
    margin-top: 1rem;
    color: black;
}

.step {
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 20px;
    max-width: 70%;
    margin-top: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.14);
}

.step h3 {
    font-size: 1.25rem;
    color: #333;
    margin-bottom: 5px;
}

.step p {
    font-size: 1rem;
    color: #666;
}

.desc {
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.separator {
    width: 80%;
    height: 1px;
    background-color: white;
    border: none;
    margin: 0 auto;
}