/* pages/Simularbre.module.css */

.container {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin-top: 2rem;
    max-width: 600px;
    height: 95vh;
    overflow-y: scroll;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    width: 50px;
    margin-right: 10px;
}

.logo h1 {
    font-size: 2rem;
    color: #4caf50;
}

.header p {
    font-size: 1rem;
    color: #666;
}

.main {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.step {
    background-color: #eff3fb;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 20px;
    max-width: 70%;
    margin-top: 1rem;
}

.step h3 {
    font-size: 1.25rem;
    color: #333;
    margin-bottom: 5px;
}

.step p {
    font-size: 1rem;
    color: #666;
}

.desc {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.separator {
    width: 80%;
    height: 1px;
    background-color: #ccc;
    border: none;
    margin: 0 auto; /* Espacement vertical autour de la ligne */
}