/* MyThermometer.module.css */

.range-slider {
    margin-top: 60px;
    width: 100%;
  }
  
  .range-slider__range {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 60px;
    border-radius: 50px;
    background: linear-gradient(to right, #068FFF 0%, #FFD800 50%, #F76B1C 100%);
    outline: none;
    padding: 0;
    margin: 0;
    position: relative;
  }
  
  .range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 65px;
    height: 65px;
    border: 4px solid #fff;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    transition: background 0.15s ease-in-out;
    box-shadow: inset 0px 0px 0px 3px rgba(51, 51, 51, 0.1);
  }
  
  .range-slider__range::-moz-range-thumb {
    width: 60px;
    height: 60px;
    border: 3px solid #fff;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition: background 0.15s ease-in-out;
  }
  
  .range-slider__range::-moz-range-thumb:hover {
    background: #f0f;
  }
  
  .range-slider__range:active::-moz-range-thumb {
    background: #f0f;
  }
  
  .range-slider__value {
    display: inline-block;
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #2c3e50;
    padding: 5px 10px;
    margin-left: 8px;
    position: relative;
  }
  
  .range-slider__value:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #2c3e50;
    border-bottom: 7px solid transparent;
    content: "";
  }
  
  /* Exemple de gradient pour la piste du slider */
  .range-slider__track {
    background: linear-gradient(to right, green 0%, yellow 50%, red 100%);
    border: 0;
  }
  
  /* Suppression des bordures supplémentaires autour du slider lorsqu'il est en focus */
  .range-slider input::-moz-focus-inner,
  .range-slider input::-moz-focus-outer {
    border: 0;
  }
  